            html{
                font-size: 16px;
            }
            body{
                background-color: #000000;
                color: whitesmoke;
            }

            a{
                color: #00ff00;
            }
            a:visited{
               opacity: 0.5;
            }
            a:hover ,a:active{
                color: #ff0000;
            }

            tfoot{
                font-weight: bold;
            }

            thead{
                font-weight: bold;
            }

            tbody{
                font-weight: normal;
            }

            tr,td,th,caption{
                border: 1px solid #00ff00;
                padding: 10px;
                margin-left: 1px;
                text-align: center;

            }
           

            table{
                border-collapse: collapse;
            }